* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header,
footer {
    display: flex;
    background-color: rgb(75, 78, 110);
    height: 50px;
    width: 100%;
}

header {
   
}

.container {

}

.text-right {
    text-align: right;
}

#nav-bar {
    display: inline-block;
    color: darkcyan;
    font-size: 25px;
}

.top-nav {
    display: inline-block;
    border-bottom: 5px;
    border-bottom-color: solid darkcyan;
}