body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}
header {
    height: 80px;
    width: 100%;
    background-color: #31343d;
}
#name {
    display: inline-block;
    text-align: right;
    color: #31343d;
    background-color: #92ccce;
    width: 20%;
    font-size: 212%;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 60px;
    padding-right: 7px;
    padding-left: 3%;
}
.nav-container {
 display: inline-block;
 text-align: right;
 font-size: 115%;
 color: #92ccce;
 width:75%;
 height: inherit;
 line-height: 80px;
 position: fixed;
 margin-right: 2%;
}
.nav-section {
    color: inherit;
    text-underline-offset: 40%;
    text-decoration-thickness: 3px;
    padding-left: 1%;
    padding-right: 1%;
}
